accelerate
bitsandbytes
cached_path
click
datasets
ema_pytorch
hydra-core
jieba
librosa
matplotlib
numpy
pydub
pypinyin
safetensors
soundfile
tomli
torch
torchaudio
torchdiffeq
tqdm
transformers
transformers_stream_generator
vocos
wandb
x_transformers
fastapi
uvicorn 
numpy 
requests
vllm
